<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>

    <% @order.line_items.to_a.each do |item| %>

    <%= image_tag @order.line_items.to_a[0].product.image.tiny %>
    <h5>
    <%= item.product.name%>
    </h5>
    <span>
    <%= item.product.description%>
    </span>
    <span>Quantity: <%= item.quantity %></span>
    <span>Price: <%= humanized_money_with_symbol item.total_price %></span>

    <% end %>

    <span>Total: <%=humanized_money_with_symbol @order.total %></span>
    <span><%= @order.email %></span>

  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
